<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
body {
	background-color: yellow;
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 100vh;
}
.loginpage
{
   background-color:pink;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction:column; 
	height: 600px;
	width: 500px;
	box-shadow: 0px 0px 4px green;
}
.botton
{
text-align: center;
}
</style>
<body>
<div class="loginpage">
<h1>Registration page</h1>
<div class="form">
<form th:action="@{/AdminRegistration}" th:object="${admin}">
<div class="input-box">
<input placeholder="enter your adminname" th:field="*{adminname}"><br>
</div>
<div class="input-box">
<input placeholder="enter your emaildid" th:field="*{emailid}">
</div>
<input th:value="${emailmsg}"><br><br>
<div class="input-box">
<input placeholder="enter your password" th:field="*{password}">
</div>
<input th:value="${passmsg}"><br><br>
<div class="input-box">
<input placeholder="enter your role" th:field="*{role}"><br>
</div>
<div class="button">
<input type="submit" value="register">
</div>
</form>
</div>
</div>
</body>
</html>